body {
  // overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0%;
}

.container {
  background-color: black;

  @media screen and (max-width:992px) {
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }
}

.bannerContent {
  // width: 100vw;
  width: 100%;
  margin-left: -30px; // margen cerruti wald solo
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px; // Margenes Caratula

  // padding-top: 20px;
  @media screen and (max-width:768px) {
    align-content: flex-start;
    margin-left: 0px;
    padding: 30px 0px;
    flex-direction: column;
  }

  h1 {
    @media screen and (max-width:768px) {
      font-size: 65px !important;
      margin-left: 5px;
    }

    span {
      color: white;
    }
  }

  .bannerPhrase {

    p {
      @media screen and (max-width:768px) {
        font-size: 19px !important;
        margin-bottom: -8px !important;
        line-height: 27PX !important;
        margin-left: -30px;
        align-items: center;
        letter-spacing: 0.01px;
      }

      color: black;
    }
  }
}

.Home {
  background-color: $orange;
  min-height: 80vh; // Altura Caratula Naranja
  z-index: 9999;
  padding: 0px 35px;

  @media screen and (max-width:768px) {
    min-height: 70vh; // Altura caratula mobile
    padding: 0px;
  }
}

.clickeable {
  cursor: pointer;

  &:hover {
    filter: contrast(1.2);
    transition: all 2s ease; // Added transition for rotation
  }
}

.bannerVideo {
  width: 100%;
  height: 100%;
}

.mobile-only-project {
  display: block;

  @media screen and (min-width: 769px) {
    display: none;
  }
}

.desktop-only-project {
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }
}


.Section {
  background-color: black;
  filter: grayscale(0%);
  overflow: hidden;
  height: fit-content;
  transition: all ease-in 1s;
  object-fit: cover;
  object-position: bottom;
  background-position: bottom;

  &:hover {
    cursor: pointer;

    .title {
      transition: all ease-in 1s;
      display: block;
    }

    .description {
      transition: all ease-in 1s;
      display: block;
    }
  }

  .title {
    display: none;
    font-family: helvetica;
    // text-transform: capitalize;


  }

  .description {
    display: none;
    font-family: helvetica;
  }

  @media screen and (max-width:768px) {
    .title {
      display: block;
      margin-left: 10px;
    }

    .description {
      display: block;
      margin-left: 10px;
    }
  }


  .SectionImage {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 2s, height 4s;
  }

  .mobileImage {
    min-height: fit-content !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textModule {

    p {
      color: purple !important;
    }
  }

  &.proyects {
    .SectionText {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: flex-start;
      align-content: end;
      flex-wrap: wrap;

      .SectionTextHolder {
        .title {
          color: $gray !important;
          font-family: Helvetica;
          // font-size: 50px !important;
        }
      }
    }
  }


  .SectionText {
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;

    .SectionTextHolder {
      margin-left: -15px;
      padding-left: 10px;

      @media screen and (max-width:768px) {
        margin-left: -15px;
        padding-left: 10px;
      }

      .title {
        padding-left: 35px;
        margin-bottom: 13px;
        font-size: 30px;
        line-height: 65px;

        @media screen and (max-width:768px) {
          font-size: 23px;
          margin-bottom: 18px;
          line-height: 20px;
          padding-left: 13px;
          letter-spacing: -0.3px;
          word-spacing: -3px;
        }
      }

      .description {
        margin-top: -52px;
        padding-left: 35px;
        margin-bottom: 7px;
        font-size: 26px;
        line-height: 65px;

        @media screen and (max-width:768px) {
          margin-top: -22px;
          font-size: 24px;
          margin-bottom: 18px;
          line-height: 30px;
          padding-left: 13px;
        }

        // padding-left: 20px;
      }
    }
  }


}

.textModule {
  //texto "hacemos comunicacion visual"
  height: fit-content;
  width: 100%;

  // padding-left: -30px;
  @media screen and (max-width:768px) {
    height: 290px;
  }


  .title {
    margin-left: -31px;
    display: block;
    font-size: 80px !important;
    font-family: helvetica !important;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 5px !important;
    // letter-spacing: -3px;

    @media screen and (max-width:768px) {
      margin-top: 15px;
      font-size: 43px !important;
      line-height: 35px !important;
      margin-left: -3px;
    }
  }

  .description2 {
    margin-left: 5px;
    font-size: 45px !important;
    width: 100% !important;
    font-family: helvetica !important;
    line-height: 43px;
    word-spacing: -3px;
    letter-spacing: 1.2px;

    @media screen and (max-width:768px) {
      font-size: 23px !important;
      line-height: 25px !important;
    }

    @media screen and (max-width:400px) {
      font-size: 20px;
    }
  }
}

.Filter {
  width: 100%;
  height: 150px;
  justify-content: left;
  background-color: black;
  padding-bottom: 20px;
  align-items: center;
  font-family: helvetica;
  font-weight: bold;

  // padding-left: 30px;

  @media screen and (max-width:1200px) {
    height: fit-content;
  }

  &.active {

    height: 220px; //altura negro con filtro activo

    @media screen and (max-width:1200px) {
      height: fit-content;
    }
  }



  // display: flex;
  .itemContainer {
    margin-bottom: -20px;

    @media screen and (max-width:1200px) {
      margin-bottom: -13px;
    }

    .text {
      // background-color: red;
      // 
      // width: 500px;
      font-size: 34px;
      font-weight: bold;
      line-height: 31px;
      max-width: 100%;
      margin-left: 5px; //texto filtro alineado con titulo
      margin-bottom: 30px;
      margin-top: -20px;
      color: #7E7E7E;
      font-family: Helvetica;

      @media screen and (max-width:1200px) {
        margin-left: 0px;
        margin-bottom: 25px;
        margin-top: 0px;
      }
    }
  }


  @media (max-width:768px) {
    padding: 10px;


  }

  .row {
    margin-top: 0px;
  }

  .pushedCol {
    margin-right: 16px;
    width: calc(100% - 16px);
    margin-top: 10px;
  }

  .items,
  .mobileItems {
    // background-color: red;
    padding-bottom: 40px;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      padding-bottom: 20px;


    }

    display: flex;


    .item {
      text-align: left;
      font-size: 25px;
      font-weight: 500;
      justify-content: center;
      align-items: center;
      color: $gray;
      // background-color: red;
      height: fit-content;
      width: fit-content;



      @media (min-width:768px) {
        margin: 0px 5px;
      }


      &:hover {
        transition: all ease 0.3s;
        color: $green;
        opacity: 1;
        cursor: pointer;
      }

      &.active {
        opacity: 1;
        cursor: pointer;
        color: $green;
      }
    }

    p {
      padding: 5px;
      margin: 0px;
      // border: 1px solid white;
      border-radius: 8px;
      font-family: Helvetica;
      // font-weight: bolder;
    }


  }
}

.resetButton {
  background-color: #ebf5f5;
  padding: 5px;
  border-radius: 100%;
  width: 80x;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 1s;
  margin-bottom: 30px;


  &:hover {
    background-color: #81c0c0;
  }

  img {
    animation: smallerBounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    width: 70px;
    height: 70px;
  }

  &.active {

    width: 80px;


    img {
      width: 75px;
      height: 75px;

      animation: none;
    }

    &:hover {
      transition: all ease 1s;
      transform: rotate(-360deg);
      cursor: pointer;
    }
  }

  @media screen and (max-height: 768px) {
    width: 70px;
    height: 50px;

    &:hover {
      background-color: #ebf5f5;
    }
  }

}

.Modal-Wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  .modalBody {
    background-color: $black;
    width: fit-content;
    height: fit-content;
    min-width: 300px;
    width: 900px;
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // overflow-y: auto;
    @media screen and (max-height: 800px) {
      width: 700px;
      height: 80%;
    }

    @media screen and (max-width: 1000px) {
      width: 80vw;
      height: 70vh;
    }

    .modalContent {
      height: 100%;
    }

    .modaltextContainer {
      width: 55%;
      height: 170px;
      background-color: black;
      opacity: 0.8;
      position: fixed;
      bottom: 20%;
      z-index: 99;

    }

    .Video {
      background-color: black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modalHeader {

      position: absolute;
      width: 100%;
      margin-top: -24px;

      .tabs {
        display: flex;
        margin-top: -116px;
        // background-color: black;

        .tabSelector {
          background-color: #3A3E47;
          padding: 10px;
          width: 200px;
          font-family: helvetica;
          font-size: 32px;
          align-items: center;
          text-align: center;
          justify-content: center;
          color: #a5a5a5;
          transition: all ease-in 0.2s;

          &:hover {
            cursor: pointer;
            background-color: #2B2F39;
            color: $green;
            filter: brightness(1.5);

          }

          @media screen and (max-width:768px) {
            width: 50%;
            font-size: 22px;
          }

          &.active {
            background-color: #2B2F39;
            color: $green;

            &:hover {
              filter: brightness(1)
            }
          }
        }
      }

      .closer {
        justify-content: end;
        display: flex;
        margin-top: 24px;
        // background-color: ;
        z-index: 999;
        position: relative;

        .imgBg {
          opacity: 0.6;
          transition: all ease-in 0.2s;
          cursor: pointer;
          padding: 10px;
          margin-right: 5px;
          margin-top: 8px;

          img {
            width: 50px;
            height: auto;

          }


          @media screen and (max-width:768px) {
            img {
              width: 40px !important;
              height: auto;
              margin-right: -6px !important;
              margin-top: -4px !important;
            }
          }

          @media screen and (max-width:1240px) {
            img {
              width: 40px;
              height: auto;
              margin-right: 10px;
              margin-top: -1px;

            }
          }




          &:hover {
            opacity: 1;
          }
        }
      }

    }

    .modalContent {
      overflow: auto;
    }

    @keyframes smallerBounce {
      from {
        transform: translate3d(0, 5px, 0);
      }

      to {
        transform: translate3d(0, -5px, 0);
      }
    }

    @keyframes bounce {
      from {
        transform: translate3d(0, 0, 0);
      }

      to {
        transform: translate3d(0, -20px, 0);
      }
    }

    .modalButton {
      height: 50px;
      width: 50px;
      display: flex;
      margin: auto;
      animation: bounce 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      position: fixed;
      z-index: 99;
      bottom: 20%;
      left: 0%;
      right: 0%;
    }


    .modalImages {
      width: 100%;
      // position: absolute;
      z-index: 9;
      height: 100%;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        // max-height: 360px;
        object-fit: contain;


        // @media screen and (min-width:1200px) {
        //   max-height: 420px;
        // }

        // border-bottom: 5px solid black;
      }

      .lastImg {
        border: none;
      }
    }

  }
}

.footerContainer {
  // width: 100vw;
  height: fit-content;
  min-height: 300px;
  background-color: $white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 40px;
  font-family: helvetica;
  color: #7E7E7E;

  @media screen and (max-width:768px) {
    padding: 16px;

  }

  .titleWrapper {

    margin-top: 0px;

    @media screen and (max-width:768px) {
      // background-color: red;
      justify-content: flex-start;
      margin-top: -20px;
      margin-right: 100px;
    }

    // background-color: red;
  }

  .title {
    color: black;
    font-size: 120px;
    letter-spacing: -5px;
    margin-top: -20px;
    // margin-left: 10px;
    margin-bottom: -20px;
    font-family: helvetica;
    font-weight: 800;
    line-height: 75px;
    margin-top: 14px;
    margin-bottom: 0px;

    @media screen and (max-width:768px) {
      font-size: 75px;
      line-height: 45px;

      // margin-left: 15px;
    }

  }

  .subTitle {
    font-family: helvetica;
    word-spacing: -5px;
    // margin-left: 15px;
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    max-width: 940px;
    color: #7E7E7E;
    // font-weight: bold;
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: -0.8px;

    @media screen and (max-width:768px) {
      font-size: 29px;
      line-height: 28px;
      margin-top: 2px;
      margin-bottom: 2px;
      word-spacing: -3px;

    }
  }

  .textsContainer {
    width: 100%;
    margin: auto;
    height: fit-content;
    min-height: 100px;
    margin-bottom: 50px;
    margin-top: 25px;
    display: flex;
    justify-content: left;
    padding-right: 5%;
    // padding-left: 5px;
    // background-color: red;

    @media screen and (max-width:768px) {
      flex-direction: column;
      padding-left: 0px;
      // margin-left: 5px;
    }

    .textContent {
      max-width: 25%;
      // margin-right: 20px;
      // margin-left: 10px;
      margin-top: -3px;
      // min-height: 250px;

      // margin: 10px;
      // background-color: green;

      @media screen and (max-width:768px) {
        max-width: 100%;
        // margin-bottom: -100px;
      }



      .textTitle {
        font-size: 30px;
        font-family: helvetica;
        color: $black;
        font-weight: bold;

        @media screen and (max-width:1200px) {
          font-size: 26px;
        }

        @media screen and (max-width:768px) {
          font-size: 32px;
          line-height: 28px;
          letter-spacing: -1px;

          margin-bottom: 5px;
        }

      }

      .text {
        font-size: 20px;
        margin-right: 10px;
        color: rgb(128, 128, 128);
        font-family: helvetica;
        font-weight: 100;
        line-height: 22px;


        @media screen and (max-width:1200px) {
          font-size: 15px;
          // line-height: -20px;
          line-height: 15px;
        }


        @media screen and (max-width:1500px) {
          font-size: 17px;
        }

        @media screen and (max-width:1500px) {
          font-size: 17px;
        }

        @media screen and (max-width:768px) {
          font-size: 20px;
          line-height: 8px;
          margin-bottom: 20px;

          height: fit-content;
          // background-color: red;
        }

        @media screen and (max-width:500px) {
          font-size: 17px;
          line-height: 17px;
          margin-bottom: 13px;
        }

      }
    }
  }

  .biographies {
    align-items: center;
    width: 100%;
    // background-color: green;
    margin-bottom: 30px;
    height: fit-content;
    display: none;
    color: $black;
    // padding-left: 15px;
    padding-top: 10px;

    @media screen and (max-width:1000px) {
      display: none;
    }

    .biographie {
      font-size: 25px;
      min-width: 250px;
      height: 290px;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      color: #a5a5a5;

      &.mobile {
        display: none;
      }

      @media screen and (max-width:1000px) {
        min-width: 0px;
        margin-top: -20px;



        &.mobile {
          display: flex;

        }

        &.desktop {
          display: none;
        }

        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        // margin-left: -15px;
      }

      .biographieImg {
        width: 100%;
        height: 140px;
        background-position: center;
        background-size: cover;
        filter: grayscale(0.6);
        margin-bottom: 10px;
        transition: all ease-in 0.2s;

        @media screen and (max-width:1000px) {
          background-position: top;
          background-size: cover;
          width: 160px;
          height: 100px;
        }

        &.active {
          filter: grayscale(0);
        }

        // background-color: red;
      }

      .biographieName {
        font-size: 20px;
        color: #a5a5a5;
        font-weight: 500;
        font-family: helvetica;
        transition: all ease-in 0.2s;
        word-spacing: -1px;

        @media screen and (max-width:768px) {
          font-size: 18px;

          // margin-bottom: -500px;
        }

        &.active {
          color: $black;
        }
      }
    }

    .biographieText {
      width: 43%;
      // background-color: red;
      height: 290px;
      display: flex;
      flex-direction: column;
      padding: 2px;
      color: black;
      margin-top: -10px;
      margin-left: 20px;

      &.mobile {
        display: none;
      }


      @media screen and (max-width:1000px) {
        &.mobile {
          display: flex;
        }

        &.desktop {
          display: none !important;
        }

        // margin-top: -200px;
        margin-left: -10px;
        margin-right: 10px;
        width: 100%;
        height: fit-content;
      }

      @media screen and (min-width:1500px) {
        margin-right: 90px;

      }

      .name {
        line-height: 25px;
        font-size: 30px;
        font-weight: bolder;
        // background-color: red;
        margin-bottom: 5px;
      }

      .text {
        color: grey;
        line-height: 22px;
        font-size: 20px;
        font-weight: 400;

        @media screen and (max-width:1200px) {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }

    .mobileBiographieText {
      height: fit-content;
      font-size: 20px;
      // margin-left: -10px;
      display: flex;
      flex-direction: column;
      color: #7E7E7E;

      &.mobile {
        display: none;
      }

      @media screen and (max-width:1000px) {
        &.mobile {
          display: none;
        }

        &.desktop {
          display: none;
        }

        margin-top: -20px;
        // padding-right: 20px;

      }

      .name {
        line-height: 25px;
        font-size: 30px;
        font-weight: bolder;
        color: #7E7E7E;
        // background-color: red;
        margin-bottom: 5px;
      }

      .text {
        line-height: 30px;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 0px;

        @media screen and (max-width:1200px) {
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 1rem;
        }
      }

      // margin-top: -650px;
    }
  }

  .mobileFinalContent {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    .brand {
      font-size: 100px;
      font-weight: bolder;
      color: $orange;
      letter-spacing: -3px;
      margin-bottom: -30px;
    }

    .phrase {
      p {
        font-size: 30px;
        font-family: Helvetica;
        font-weight: 800;
        line-height: 30px;
        margin-bottom: 0px;
      }
    }

    .city {
      font-size: 30px;
      font-family: Helvetica;
      font-weight: 800;
      line-height: 30px;
      margin-bottom: 40px;
      margin-top: 40px;
      color: $black;
    }

    .contact {
      font-size: 40px;
      font-family: Helvetica;
      font-weight: 800;
      line-height: 30px;
      margin-bottom: 0px;
      margin-bottom: 40px;

      // color: $black;
      @media screen and (max-width:500px) {
        font-size: 20px;
      }
    }
  }

  .finalContent {
    width: 100%;
    height: fit-content;
    // padding-left: 10px;
    // background-color: red;
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-family: helvetica;
    color: #7E7E7E;
    letter-spacing: 0.5px;
    word-spacing: -5px;

    .contact {
      font-size: 20px;
      height: 40px;
      font-weight: bold;
      margin-left: -25px;
      word-spacing: -3px;


      @media screen and (max-width:1500px) {
        font-size: 17px;
        margin-left: -25px;
        margin-top: 2px;
      }

    }

    .city {
      //color: $black;
      font-size: 28px;
      font-weight: bold;
      //display: flex;
      justify-content: end;
      text-align: left;
      flex-direction: column;
      height: 40px;
      margin-bottom: 0px;

      @media screen and (max-width:1500px) {
        font-size: 24px;
      }

      @media screen and (max-width:768px) {
        font-size: 18px;
        word-spacing: 0.01px;
      }


    }

    .left {
      display: flex;
      text-align: end;


      .brand {
        width: 25%;
        font-size: 60px;
        font-weight: bolder;
        color: $orange;
        letter-spacing: -2px;
        line-height: 50px;
        margin-bottom: 38px;
        cursor: pointer;


        @media screen and (max-width:768px) {
          font-size: 50px;
          margin-top: -60px;
        }
      }


      .phrase {
        margin: 0px;
        margin-left: 80px;
        margin-right: 0px;
        color: #000000;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        height: 100px;
        // margin-bottom: -55px;


        p {
          // color: #a5a5a5;
          font-size: 25px;
          line-height: 20px;
          margin-bottom: 0px;
          margin-left: 0px;
          font-weight: normal;
        }


      }
    }

    .right {
      // background-color: blue;
      justify-content: space-between;
      font-size: 20px;
      color: #7E7E7E;
      // margin-right: 30px;
      // margin-bottom: -100px;
      font-weight: bolder;
      // background-color: red;
      // margin-right: 100px;
      margin-bottom: 25px;

    }

    @media screen and (max-width:1024px) {
      flex-direction: column;
      align-items: self-start;

      .left {
        flex-direction: column;
        align-items: self-start;
      }

      .brand {
        margin-bottom: 0px !important;
      }

      .phrase {
        margin: 0px !important;
        height: auto !important;
        margin-bottom: 0px !important;
        width: 100%;
      }

      .right {
        flex-direction: column;
        align-items: self-start;
      }

      .contact {
        font-size: 15px;
        line-height: 23px;
        height: fit-content;
        margin-top: -10px;
        margin-left: 2px;

      }

      .city {
        margin-top: 0px;
        margin-left: 2px;

      }
    }
  }
}


// .footer {
//   height: fit-content;
//   background-color: white;
//   color: black;

//   .finalContent {
//     font-size: 80px;
//     font-weight: 600;
//     padding: 0px 10px;
//     color: $orange;
//     margin-top: -30px;
//     margin-bottom: 20px;
//     display: flex;
//     font-family: Arial, Helvetica, sans-serif;

//     .sectionLeft {
//       display: flex;
//       width: 45%;
//       justify-content: space-between;
//       padding-left: 10px;

//       .texts {
//         display: flex;
//         justify-content: space-around;
//         width: 65%;

//       }

//       .city {
//         color: black;
//         // background-color: red;
//         // margin-left: 0px;
//         margin-bottom: -20px;
//         font-size: 30px;
//         display: flex;
//         align-items: end;
//         font-size: helvetica;
//         font-weight: bolder;
//         letter-spacing: -2px;
//       }

//       .phrase {
//         // background-color: red;
//         height: 100px;
//         color: gray;
//         display: flex;
//         justify-content: end;
//         align-items: left;
//         text-align: left;
//         margin-top: 35px;
//       }

//     }

//     .sectionRight {
//       // background-color: red;
//       display: flex;
//       width: 50%;
//       align-items: end;
//       justify-content: right;
//       padding-right: 10px;
//       margin-bottom: -20px;
//       color: $gray;

//     }

//     .brand {
//       margin: 0px;
//       margin-right: 15px;

//       p {
//         // background-color: red;
//         font-size: 120px;
//         padding: 0%;
//         margin: 0%;
//         margin-bottom: -40px;
//         font-family: helvetica;
//         letter-spacing: -7px;
//         font-weight: bolder;
//       }
//     }






//     .mail {
//       font-size: 30px;
//     }
//   }

//   .footerTitle {
//     padding: 10px;
//     margin-top: -20px;
//     margin-bottom: -40px;
//     color: black;
//     font-size: 100px;
//     font-weight: 700;
//     letter-spacing: -5px;
//   }

//   .footerText {
//     padding: 10px;
//     color: gray;
//     font-size: 50px;
//     font-weight: 700;
//     word-wrap: break-word;
//     text-align: start;
//     word-spacing: 0px;

//     p {
//       margin: -20px 5px;
//       word-spacing: -5px;
//     }
//   }

//   .blockContainer {
//     width: 100%;
//     color: black;
//     display: flex;
//     overflow: hidden;
//     justify-content: space-between;
//     font-family: Arial, Helvetica, sans-serif;
//     padding-left: 10px;

//     .block {
//       margin: 10px;

//       .blockText {
//         word-wrap: break-word;
//         text-align: left;
//         color: $gray;
//         text-transform: capitalize;
//         font-weight: 700;
//       }

//       .blockTitle {
//         text-align: left;
//         font-size: 40px;
//         margin-bottom: -20px;
//         margin-top: 30px;
//         font-weight: 800;
//         letter-spacing: -2px !important;
//       }
//     }

//   }

//   .biographies {
//     justify-content: start;
//     height: 300px;
//     margin-bottom: 30px;
//     padding: 10px;
//     padding-left: 20px;
//     display: flex;
//     width: 100%;

//     @media screen and (max-width:768px) {
//       flex-direction: column
//     }

//     .text {
//       width: 50%;
//       height: 80%;

//       // margin-left: 40px;
//       // background-color: red;
//       p {
//         margin-bottom: 0px;
//         margin-top: -15px;
//         line-height: 30px;
//         padding: 10px;
//         font-size: 30px;
//         font-weight: 700;
//         color: $black;

//         @media screen and (max-width:1440px) {
//           font-size: 25px;
//         }

//         @media screen and (max-width:992px) {
//           font-size: 20px;
//           line-height: 20px;
//         }

//         @media screen and (max-width:768px) {
//           font-size: 15px;
//           line-height: 20px;
//         }

//         @media screen and (max-width:500px) {
//           line-height: 15px;
//           font-size: 10px;
//         }
//       }
//     }

//     .biographie {
//       height: 100%;
//       width: 25%;

//       @media screen and (max-width:768px) {
//         width: 100%;

//       }

//       .image {
//         background-color: green;
//         width: 100%;
//         height: 80%;
//         background-size: cover;
//         background-position: center;
//         filter: grayscale(1);

//         &.active {
//           filter: grayscale(0);
//         }
//       }

//       .name {
//         font-family: Arial, Helvetica, sans-serif;
//         color: $gray;
//         font-size: 25px;
//         font-weight: 700;
//         letter-spacing: -1px;
//         margin-bottom: 30px;

//         &.active {
//           color: $black;
//         }
//       }
//     }
//   }
// }

.videoContainer {
  background-color: red;
  // width: 100vw;
  // height: 80vh;


  .bannerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // margin-bottom: -20px;
  }
}