body {
  overflow: hidden;
}

.Home {
  background-color: $orange;
  min-height: 90vh;
  z-index: 9999;
}

.clickeable {
  cursor: pointer;

  &:hover {
    filter: hue-rotate(180deg);
    transition: all 2s ease; // Added transition for rotation
  }
}

.Section {
  min-height: 300px;
  background-color: black;
  filter: grayscale(0%);
  transition: filter 0.2s ease-in-out, opacity 1s ease-in-out;
  overflow: hidden;

  .SectionImage {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in;
  }

  .SectionText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;

    .SectionTextHolder {
      padding: 10px;

      .title {
        margin-bottom: 20px;
        font-size: 80px;
        line-height: 70px;
      }

      .description {

        line-height: 60px;
        width: 50%
      }
    }
  }
}


.Header {
  background-color: #ea581d;
  position: fixed;
  right: 0px;
  width: fit-content;
  z-index: 999;
  padding: 16px;
  top: 40px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  align-items: center;

  .logo {
    transform: rotate(270deg);
    margin-left: -15px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -3px;
  }

  .close-icon,
  .open-icon {
    p {
      font-weight: bold;
      color: black;
      cursor: pointer;
      font-size: 20px;
      margin-bottom: 0px;
    }

  }

  .items {
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    .item {
      h3 {
        font-size: 20px;
        margin-bottom: 0px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }
    }
  }

  &.active {
    display: flex;
    width: fit-content;
    max-width: 200px;
    align-items: start;
    justify-content: space-between;
    flex-direction: row-reverse;

    .logo {
      display: none;
    }

    .close-icon {
      position: relative;
      margin-right: -20px;
      margin-top: -20px;
    }

    .items {
      transition: all 0.2s ease-in-out;
      width: 200px;
      height: 150px;
      max-width: fit-content;
      max-height: fit-content;
      margin-bottom: -25px;
    }
  }


}


.Modal-Wrapper {
  @mixin scrollbar() {
    &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
    }

    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 0.552);
      box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: tranparent;
    }

  }

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  .modalBody {
    background-color: $orange;
    width: fit-content;
    height: fit-content;
    min-width: 500px;
    min-height: 400px;
    max-width: 650px;
    max-height: 550px;
    background-size: cover;
    background-position: center;
    position: relative;

    .closer {
      color: blacclickeable;
      font-size: 40px;
      margin-top: -5px;
    }

    .modalTextContainer {
      width: 100%;
      height: fit-content;
      max-height: 200px;
      background-color: rgba(0, 0, 0, 0.747);
      position: absolute;
      bottom: 0px;
      padding: 10px;
      overflow-y: scroll;
      @include scrollbar();

      .modalTitle {
        font-size: 20px;
        font-weight: 600;
        color: $green;
      }

      .modalText {
        font-size: 15px;
        word-wrap: break-word;

        p {
          margin: 0px;
        }
      }
    }
  }
}

.footer {
  min-height: 400px;
  background-color: white;
  color: black;

  .finalContent {
    font-size: 80px;
    font-weight: 600;
    padding: 0px 10px;
    color: $orange;
    margin-top: -30px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    .footerLogo {
      margin: 0px;
      margin-right: 15px;
    }

    .phrase {
      // background-color: red;
      height: 100px;
      color: gray;
      display: flex;
      justify-content: end;
      align-items: left;
      text-align: left;
    }

    .city {
      color: black;
      // background-color: red;
      margin-left: 40px;
      margin-bottom: -5px;
      font-size: 30px;
      display: flex;
      align-items: end;
    }
  }

  .footerTitle {
    padding: 10px;
    margin-top: -20px;
    margin-bottom: -40px;
    color: black;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -5px;
  }

  .footerText {
    padding: 10px;
    color: gray;
    font-size: 50px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: start;
    word-spacing: 0px;

    p {
      margin: -20px 5px;
    }
  }

  .blockContainer {
    width: 100%;
    color: black;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    .block {
      margin: 10px;

      .blockText {
        word-wrap: break-word;
        text-align: center;
      }

      .blockTitle {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
      }
    }

  }

  .biographies {
    justify-content: start;
    height: 300px;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;

    .biographie {
      height: 100%;
      width: 300px;

      .image {
        background-color: green;
        width: 100%;
        height: 80%;
        background-size: cover;
        background-position: center;
      }

      .name {
        color: cornflowerblue;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}